:root {
    --white: white;
    --purple: rgb(166, 86, 232);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background: #3f403f;
}

span {
    color: var(--white);
}

p {
    color: var(--white);
}

button {
    color: var(--white);
}

.hide-display {
    display: none;
}

.show-display-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-space-between {
    justify-content: space-between;
}

/* -------------------------- NAV ------------------------------ */

#content {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#title-text {
    font-size: 3rem;
    color: var(--white);
}

h2 {
    color: var(--white);
    margin-top: 1rem;
    margin-left: 1rem;
}

svg {
    color: var(--purple);
    height: 2.5rem;
    width: 2.5rem; 
}

#hamburger-icon {
    border: none;
}

.svg-icons {
    margin-left: 0.8rem;
}

.nav-link {
    border: none;
    margin-left: 1rem;
}

.nav-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 1rem;
}
/* ----------------------------- INBOX ------------------------------- */
.inbox {
    margin-left: 2.5rem;
    margin-top: 1.5rem;
    font-size: 2rem;
}

.add-popup {
    width: 100vw;
    height: 30vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    /* border: 2px white solid; */
}

#add-task-btn {
    border: none;
    margin-left: 2.7rem;
    margin-top: 0.8rem;
    color: var(--white);
}

#add-task-btn svg {
    color: var(--purple);
}

#project-input {
    width: 80%;
    height: 20%;
    border: none;
    border-radius: 5px;
    background-color: #212529;
    color: var(--white);
    text-align: center;
    margin-top: 1rem;
    outline: none;
}

.input-style {
    width: 80%;
    height: 40%;
    border: none;
    border-radius: 5px;
    background-color: #212529;
    color: var(--white);
    text-align: center;
    margin-top: 1rem;
    outline: none;
}

.add-cancel-container {
    width: 80%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

.add-cancel-btn {
    width: 8.5rem;
    height: 2.5rem;
    border-radius: 5px;
    margin-top: 1rem;
    border: none;
    color: var(--white);
}

.add-btn {
    background: rgba(166, 86, 232, 0.3);
    transition: 0.3s;
}

.add-btn:hover {
    background: var(--purple);
}

.cancel-btn {
    background: rgba(232, 86, 130, 0.3);
    transition: 0.3s;
}

.cancel-btn:hover {
    background: rgb(232, 86, 130);
}

#todos-display-container {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

/* -------------------------- STYLING GENERATED TODOS FROM JS ------------------------- */
.todo-el {
    margin-right: 0.5rem;
    margin-left: 2.5rem;
    /* font-size: 1.5rem; */
}

.due-date {
    margin-left: 2.5rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    display: block;
    border: none;
}

.mark-complete {
    margin-left: 0.5rem;
}

.red {
    color: #e32222;
}

.yellow {
    color: #ebe71e;
}

.green {
    color: #25eb1e;
}

/* --------------- STYLING GENERATED PROJECT TITLES FROM JS ----------- */
.projects {
    margin-top: 1rem;
    margin-left: 2rem;
}

.delete-project-btn {
    width: 4rem;
    height: 2rem;
    font-size: 1rem;
    border: none;
    padding-bottom: 2rem;
    color: var(--purple);
}

.enter-project-button {
    border: none;
}

/* --------------- MEDIA QUERIES ----------- */
/* 6/23/22 - Look up position property and float to position the text */

@media screen and (min-width: 700px) {
    #content {
        flex-direction: row;
    }

    #title-text {
        font-size: 2.5rem;
        position: relative;
        bottom: 28rem;
        left: 1rem;
    }

    .container-fluid {
        height: 100vh;
        position: absolute;
    }

    .navbar {
        width: 40vw;
    }

    #navbarNav {
        height: 100vh;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        position: relative;
        right: 13rem;
        bottom: 14.5rem;
    }

    #inbox-section {
        width: 60vw;
        border-left: 1px solid white;
        margin-left: 2rem;
        background-color: rgba(166, 86, 232, 0.3);
    }

    #add-task-btn {
        background-color: rgba(166, 86, 232, 0.07);
        position: relative;
        top: 4rem;
        font-size: 1.5rem;
    }  

    svg {
        margin-right: 0.3rem;
    }
}